h1 {
color: orange;
}
p {
text-align: left;
}
.description {
    font font-weight: arial;
    color: yellow;
}
div {
width: 300px;
background-color: burlywood;
border: 15px solid blue;
padding: 50px;
margin: 20px;
}
#encabezado {
background-color: yellow;
}
body {
background-color: #11b3d0;
}
h1 {
    background-color: #11b3d0;
    }
    div {
        background-color: #dfdce7;
        }
        .descripcion {
            font font-weight: arial;
            color: green;
        }
       